:root {
    --background-1: #F6EDFF;
    --button-1: #E0B6FF;
    --button-2: #FFFFFF;
    --card-1: #D0BCFF;
    --color-1: #FFFFFF;
    --color-2: #1E1B1B;
    --color-3: #494649;
    --progress-bar-1: #8A20D5;
}

/* General body settings */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f6edff;
    padding-top: 450px; /* Ajustamos para compensar el header fijo */
}

header {
    background-image: url('/assets/img/background.png');
    
    background-position: bottom;
    padding: 20px;
    color: white;
    text-align: center;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0 0 40px 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Mantener el header en el frente */
    transition: height 0.3s ease;
}

.header-top {
    display: flex;
    font-size: 25px;
    justify-content: space-between;
}

.header-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    transition: transform 0.3s ease;
}

.weather-icon-container {
    display: flex;
    flex-direction: column; /* Disposición vertical */
    align-items: center; /* Centrar el ícono y la descripción horizontalmente */
}

.weather-icon img {
    width: 50px; /* Tamaño del ícono */
    height: 50px;
}

.weather-description {
    color: #ffffff; /* Color del texto */
    margin-top: 5px; /* Espacio entre el ícono y la descripción */
    text-align: center; /* Centrar el texto */
}


.temperature {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.temp-value, .weather-icon {
    font-size: 28px;
    font-weight: bold;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-top: 10px;
    transition: opacity 0.3s ease;
}

.additional-info {
    margin-top: -10px; /* <-- XD */
}

.buttons {
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
    margin-top: -65px;
    z-index: 1100; /* Aseguramos que los botones queden encima del contenido */
    transition: top 0.3s ease, transform 0.3s ease; /* Suavizar el movimiento */
}

.buttons button {
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 14px 25px;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons button.active {
    background-color: #e0b6ff;
}

.stats, .hourly-forecast, .day-forecast, .rain-chance, .sunrise-sunset, .days {
    padding: 15px;
}

.stats {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.stat {
    background-color: #ebdeff;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 14px;
}

.stat-icon {
    margin-right: 10px;
}

.days {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.day {
    background-color: #ebdeff;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

/* .stat-icon {
    margin-right: 10px;
}
 */

.section-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.hourly-forecast{
    background-color: #ebdeff;
    padding: 20px;
    border-radius: 8px;
    max-width: 85%; /* Limitar el ancho al 90% del contenedor */
    margin: 10px 10px 30px; /* Añadir separación superior e inferior, centrar la sección */
}

.day-forecast {
    background-color: #ebdeff;
    padding: 20px;
    border-radius: 8px;
    max-width: 85%; /* Limitar el ancho al 90% del contenedor */
    margin: 10px 10px 30px; /* Añadir separación superior e inferior, centrar la sección */
}

.forecast-icon {
    margin-right: 10px;
}

.hours {
    display: flex;
    justify-content: space-around;
    background-color: #ebdeff;
    padding: 10px;
    border-radius: 8px;
}

.hour {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rain-chance {
    background-color: #ebdeff;
    padding: 20px;
    border-radius: 8px;
    max-width: 83%; /* Limitar el ancho al 90% del contenedor */
    margin: 0 auto; /* Centrar la sección en la página */
}


.rain-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.bar-container {
    background-color: #faedff;
    width: 70%;
    height: 24px;
    border-radius: 12px;
    overflow: hidden;
}

.bar {
    height: 100%;
    background-color: var(--progress-bar-1);
    border-radius: 22px;
}

.sunrise-sunset {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Para dar espacio entre los dos divs */
    margin-bottom: 20px;
}

.sun-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ebdeff;
    padding: 10px;
    border-radius: 8px;
    flex: 1; /* Los divs se distribuyen de manera equitativa */
}

.sun-icon {
    margin-right: 10px;
}

/* Adiciones Pequeñas para estilizar la pagina ;) */

.weather-icon img {
    margin-top: 25px;
    width: 118px;
    height: auto;
}

.wind-speed, .precipitation, .pressure, .uv-index {
    font-size: 1em;
}

.large-img {
    width: 130%;
    height: auto;
}

.day-graph img {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
}

/* Añadir un spinner o animación de texto */
.loading {
    animation: pulse 1s infinite;
  }
  
  @keyframes pulse {
    0% { opacity: 0.5; }
    50% { opacity: 1; }
    100% { opacity: 0.5; }
  }
  

/**/

.hidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease-out;
}

.visible {
    visibility: visible;
    opacity: 1;
    height: auto;
    transition: opacity 0.3s ease-in;
}

/**/

#ten-days-container {
    margin: 0 auto; /* Centra el contenedor y establece el margen */
    display: flex;
    flex-direction: column;
    gap: 0px; /* Espaciado entre los días */
}

.dayly-forecast {
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.forecast-left {
    text-align: left; /* Alinea a la izquierda */
}

.forecast-right {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre las temperaturas y el ícono */
    text-align: right; /* Alinea a la derecha */
}

.icono-clima img {
    width: 80px; /* Tamaño del icono del clima */
    height: auto;
}

.temp-container {
    display: flex;
    flex-direction: column; /* Coloca la temperatura máxima y mínima una debajo de la otra */
    align-items: flex-end; /* Alinea a la derecha */
}

.divider {
    width: 1px; /* Ancho de la línea vertical */
    background-color: #000000; /* Color de la línea */
    height: 40px; /* Altura de la línea, ajusta según sea necesario */
}

/* Estilos para el h2 como contenedor */
.container-title {
    background-color: var(--button-1); /* Cambia esto por el color que desees */
    color: var(--color-2);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 0; /* Eliminar margen para que quede centrado */
}

/* Estilos para la imagen */
.responsive-image {
    width: 100%; /* Asegura que la imagen no se salga de la pantalla */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Elimina espacio debajo de la imagen */
    margin-top: 10px; /* Espacio entre el título y la imagen */
    border-radius: 20px;
}

/* Estilos adicionales para la sección */
#tomorrow-container {
    padding: 20px; /* Espaciado interno para la sección */
    text-align: center; /* Centrar el contenido */
}